{% extends 'base.html.twig' %}
{% block body %}

<div class="row">
    <div class="rectangle col-5">
        <h4>la sonde d'oxygene</h4>
        <ul>
            <li>
                {{ repo.chercherValeurRegister('sonde Oxygene') }}
                {{ repo.valeurRegister }}
            </li>
        </ul>
    </div>
    &nbsp;&nbsp;&nbsp;

    <div class="rectangle col-5">
        <h4>Sonde de Niveau</h4>
        <ul>
            <li>
                {{ repo.chercherValeurRegister('Sonde de Niveau') }}
                {{ repo.valeurRegister }}
            </li>
        </ul>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="rectangle col-5">
        <h4>Sonde de Pression</h4>
        <ul>
            <li>
                {{ repo.chercherValeurRegister('Sonde de Pression') }}
                {{ repo.valeurRegister }}
            </li>
        </ul>
    </div>
</div>


<p>---------------------------------------------------</p>
    <div class="row">
        <div class="rectangle col-5">
            <h4>Filtre ON</h4>
            <ul>
                <li>
                    {{ repo.chercherValeurBobine('Filtre ON') }}
                    {{ repo.valeurCoil }}
                </li>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;

        <div class="rectangle col-5">
            <h4>Alarm OFF</h4>
            <ul>
                <li>
                    {{ repo.chercherValeurBobine('Alarm OFF') }}
                    {{ repo.valeurCoil }}
                </li>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="rectangle col-5">
            <h4>Pump ON</h4>
            <ul>
                <li>
                    {{ repo.chercherValeurBobine('Pump ON') }}
                    {{ repo.valeurCoil }}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
