{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="rectangle col-5" >
            <h4>la sonde d'oxygene</h4>
            <ul>
                <li >
                    {{ sonde_oxygen }}
                    <div id="sonde_oxygen" >
                        {{ oxygen  }}
                    </div>
                </li>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="rectangle col-5">
            <h4>Sonde de Niveau</h4>
            <ul>
                <li>
                    {{ sonde_niveau }}
                    <div id="sonde_niveau">
                        {{ niveau }}
                    </div>
                </li>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="rectangle col-5">
            <h4>Sonde de Pression</h4>
            <ul>
                <li>
                    {{ sonde_pression}}
                    <div id="sonde_pump">
                        {{ pression }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
                <br><br>
    <div class="row">
        <div class="rectangle col-5">
            <h4>Filtre ON</h4>
            <ul>
                <li>
                    {{ filtre_on }}
                    <div id="bobine_filtre">
                        {{ f_on }}
                    </div>
                </li>
                <div id="message_filtre">
                <li>
                    {{ message_filtre }}
                </li>
                </div>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;

        <div class="rectangle col-5">
            <h4>Alarm OFF</h4>
            <ul>
                <li>
                    {{ alarm_off }}
                    <div id="bobine_alarm">
                        {{ a_off}}
                    </div>
                </li>
                <div id="message_alarm">
                <li>
                    {{ message_alarm }}
                </li>
                </div>
            </ul>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="rectangle col-5">
            <h4>Pump ON</h4>
            <ul>
                <li>
                    {{ pump_on }}
                    <div id="bobine_pump">
                        {{ p_on }}
                    </div>
                </li>
                <div id="message_pompe">
                <li>
                    {{ message_pump }}
                </li>
                </div>
            </ul>
        </div>
    </div>

{% endblock %}

